
/* SCSS VARIABLES */
:root {
    --primary-color:        #47C9E5;
    --border:               #e9e9e9;
    --gray:                 #8D8D8D;
    --gray-dark:            #343a40;
    --light:                #f8f9fa;
    --dark:                 #343a40;

    /* Font Family */
    --font-mont:            'Mont', cursive;
    --font-Rale:            'Rale', cursive;

    /* Border Colors */
    --box-shadow:           0 0 1.2rem #090a0a7a;
    --box-shadow2:          0 .5rem 1.5rem #0d2e2e23;
    --box-shadow3:          0 .3rem 4rem #252c2c2f;
}
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font Family */
@font-face{
    font-family: 'Mont';
    src: url(../../vendor/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: 'Rale';
    src: url(../../vendor/fonts/Raleway/Raleway-Regular.ttf);
}

/* variables */
$breakpoints: (
    sm      : 520px,
    md      : 768px,
    lg      : 1124px,
    xl      : 1424px 
);
@mixin fromin($bp) {
   @if map-has-key($breakpoints, $bp ){
       @media screen and (min-width : map_get($breakpoints,$bp)) {
           @content;
       }
   } @else {
       @media screen and (min-width : $bp) {
           @content;
       }
   }
}
@mixin from($bp) {
    @if map-has-key($breakpoints, $bp ){
        @media screen and (max-width : map_get($breakpoints,$bp)) {
            @content;
        }
    } @else {
        @media screen and (max-width : $bp) {
            @content;
        }
    }
 }