/* Import scss files */
//@import url(/assets/css/main.css)
@import "variabless";

/* Global scss file */
@import "globall";

/* Grid */
@import "gridd";

/* header */
@import "headerr";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: normal 900 1rem var(--font-Rale);
    background: var(--dark);
}